.header{
	height: 100px;
	width: 100%;
	line-height: 100px;
	background-color: rgb(233, 232, 232);
}

#headerdiv{
	height: 100px;
	color: rgba(17, 16, 16, 0.082);
	border: 1px solid rgb(233, 232, 232);
}

#title{
	text-align: center;
	line-height: 100px;
}

#div1{
	position: absolute;
	top: 20%;
	left: 30%;
}
form{
	width: 500px;
	height: 400px;
}
#title2{
	text-align: center;
}
button{
	display: block;
	width: 370px;
}